/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #0077ff;
  --ifm-color-primary-dark: #006be6;
  --ifm-color-primary-darker: #005fcd;
  --ifm-color-primary-darkest: #00469a;
  --ifm-color-primary-light: #1f89ff;
  --ifm-color-primary-lighter: #3a98ff;
  --ifm-color-primary-lightest: #63b0ff;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #4dabff;
  --ifm-color-primary-dark: #379efc;
  --ifm-color-primary-darker: #3092ea;
  --ifm-color-primary-darkest: #2470b4;
  --ifm-color-primary-light: #6dbbff;
  --ifm-color-primary-lighter: #89c8ff;
  --ifm-color-primary-lightest: #afd9ff;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
